### build directories ###
build/
cmake-build-*/

### GoogleTest installation ###
third_party/googletest/*
!third_party/googletest/CMakeLists.txt.in

### documentation ###
html/
mpi31-report.pdf

### CLion ###
.idea/
