dl.assert_precondition, dl.assert_sanity
{
    margin-left: -7px;
    padding-left: 3px;
    border-left: 4px solid;
}

dl.assert_precondition
{
    border-color: #FF0000;
}

dl.assert_sanity
{
    border-color: #d68800;
}

dl.calls
{
    margin-left: -7px;
    padding-left: 3px;
    border-left: 4px solid;
    border-color: #4287f5;
}